.searchBarForm {
  margin: 24px auto;
  max-width: 600px;
  position: relative;
}
.searchBarButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  background-color: rgba(228,5, 18, 0.1);
  border-radius: 0;
}
