.profileUserTextField {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 16.5px 14px;
    width: 100%;
    gap: 5px;
}

.profileUserTitle {
    text-transform: capitalize;
}